@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');

*{
    padding: 0;
    margin: 0;
}

.utility{
    color: #d9d7d2;
    display: flex;
    justify-content: flex-end;
}
.size{
    font-size: 2em;
    padding: 2%;
}
.burger{
    position: absolute;
    width: 100%;
    top: 0;
    overflow-x: hidden;
    z-index: 5;
    transition: 500ms;
}
.closed{
    left: -100%;
}
.open{
    left
    : 0;
}

/*...........elements...........*/
.burger__ul{
    position: relative;
    width: 100%;
    padding: 2%;
    background-color: #000000;
    list-style: none;
    line-height: 3rem;
    font-family: 'cinzel', serif;
    font-size: 1.2rem;
}
.burger__ul :not(:last-child){
    border-bottom: solid 0.1em;
    border-color: #d9d7d2;
}
.burger__link{
    text-decoration: none;
    color: #d9d7d2;
    transition: 500ms;
}

