/*......Name convention BEM.....*/

/*....Utility..........*/

* {
    margin: 0;
    padding: 0;
} 

/*......Blocks...........*/

body {
    font-family: 'Bangers', cursive;
    font-size: 25px;
}

.background-image {
    width: 100%;
}

.formside-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: aliceblue;
    opacity: 0.7;
    position: absolute;
    top: 1px;
    width: 100%;
    height: 855px;
}

.create-card-button {
    border-radius: 10px;
    padding: 20px;
    font-size: 17px;
    font-family: 'Bangers', cursive;
    color: #001326;
    font-size: 20px;
    width: 150px;
    height: 100px;
    margin-top: 25px;
    background-color: #001326;
    color: white;
}

.label {
    margin-top: 20px;
}

/*........Elements........*/

.header-container__logo {
    color: crimson;
    font-size: 100px;
}


