/*...Name convention BEM.....*/

/*........Utility......*/

@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');
body{
    margin: 0;
    padding: 0;
}

/*.........Blocks............*/

.header{
    position: fixed;
    width: 100%;
    background-color: #001326;
    height: 152px;
    z-index: 100;
    opacity: 0.8;
}
.main{
    padding-top: 8em;
    width: 100%;
    background-color: #d9d7d2;
    color: #000000;
    margin: 0 auto;


}
.footer-wrapper {
    position: fixed;
    bottom: 0;
    z-index: 20;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr; 
    height: 10em;
    width: 100%;
    background-color: crimson;
}

/*............elements.............*/
.main__wrapper{
    width: 700px;
    margin: 0 auto;
}
.header__logo {
    font-family: 'Permanent Marker', cursive;
    text-decoration: none;
    color: crimson;
    font-size: 2rem;
    padding: 0 3%;
}
.header__linkliste{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    padding: 0 3%;
    font-family: 'bangers', cursive;
    font-size: 1.2rem;
}
.linkliste__a{
    text-decoration: none;
    color: #d9d7d2;
}
.linkliste__a:hover{
    color: #f8f7f7;
}
.main__heading{
    font-family: 'Cinzel', serif;
    font-size: 2rem;
    margin: 2%;
    text-align: center;
}
.main__text{
    font-family: 'Cinzel', serif;
    color: #000000;
    font-size: 1.2rem;
    margin: 3% 0;
}
.wrapper__flex{
    margin: 2.5em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-container__logo {
    font-family: 'Permanent Marker', cursive;
    color: #000000;
    margin-left: 0.5rem;
}
.some-wrapper {
    display: flex;
    justify-self: center;
    justify-content: space-between;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}
.copyright {
    display: inline-block;
    color: #d9d7d2;
    font-family: 'Cinzel', serif;
}
.copy-box {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    text-align: center;
    padding: 0 3em;
}
.fab {
    color: #d9d7d2;
    font-size: 50px;
    padding: 0 0.3em;
    text-decoration: none;
}

/*..........Responsive....*/

@media screen and (max-width: 900px){
    /*   Blocks   */

    .header{
        display: flex;
        justify-content: space-between;
    }

    /*        Elements       */
    
    .header__linkliste{
        display: none;
    }
    .main__wrapper{
        width: 300px;
        margin: 0 auto;
    }
    .footer-wrapper{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30% 1fr;
    width: 100%;
    font-size: 0.8rem;
    }
    .copy-box{
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        align-self: flex-end;
    }
    .some-wrapper{
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
}
