@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');
*{
    margin: 0;
}
.header{
    position: fixed;
    width: 100%;
    background-color: #001326;
    height: 100px;
    z-index: 100;
}
.main{
    padding-top: 7em;
    width: 100%;
    background-color: #d9d7d2;
    color: #000000;
    margin: 0 auto;


}
.footer{
    position: fixed;
    width: 100%;
    background-color: crimson;
    bottom: 0;
    z-index: 100;
    color: #d9d7d2;
    font-family: 'Cinzel', serif;
    font-size: 0.8rem;
    text-align: center;
}

/*............elements.............*/
.main__wrapper{
    width: 700px;
    margin: 0 auto;
}
.header__logo {
    font-family: 'Permanent Marker', cursive;
    text-decoration: none;
    color: crimson;
    font-size: 3rem;
    padding: 0 3%;
}
.header__linkliste{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0 3%;
    font-family: 'Cinzel', serif;
    font-size: 1.2rem;
}
.linkliste__a{
    text-decoration: none;
    color: #d9d7d2;
}
.linkliste__a:hover{
    color: #f8f7f7;
}
.main__heading{
    font-family: 'Cinzel', serif;
    font-size: 2rem;
    margin: 2%;
    text-align: center;
}
.main__text{
    font-family: 'Cinzel', serif;
    color: #000000;
    font-size: 1.2rem;
    margin: 3% 0;
}
.wrapper__flex{
    margin: 2.5em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__text{
    padding: 1%;
}
.footer__some{
    padding: 0.5% 10%;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    color:#d9d7d2;
}

@media screen and (max-width: 900px){
    .header{
        display: flex;
        justify-content: space-between;
    }

    .header__linkliste{
        display: none;
    }
    .main__wrapper{
        width: 300px;
        margin: 0 auto;
    }
}
