@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');

*{
    padding: 0;
}

.utility{
    color: #d9d7d2;
    display: flex;
    justify-content: flex-end;
    margin: 3%;
}

.size{
    align-self: center;
    font-size: 2em;
    padding: 2%;
    display: none;
}
.burger{
    position: fixed;
    width: 100%;
    overflow-x: hidden;
    z-index: 30;
    transition: 500ms;
}
.closed{
    top: -100%;
}
.open{
    top: 100px;
}

/*...........elements...........*/
.burger__ul{
    position: relative;
    text-align: center;
    width: 100%;
    padding: 2%;
    background-color: #001326;
    opacity: 0.8;
    list-style: none;
    line-height: 3rem;
    font-family: 'cinzel', serif;
    font-size: 1.2rem;
}

.burger__link{
    text-decoration: none;
    color: #d9d7d2;
    transition: 500ms;
}
@media screen and (max-width: 900px){
    .size{
        display: inherit;
    }
}
